@using Microsoft.AspNetCore.Identity
@using Watch_Store.Utility;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
	<div class="dropdown">


		<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
			<i class="fa fa-user-o"></i>
			<span>My Account</span>

		</a>

		<div class="account-dropdown">
			<a id="manage" class="dropdown-item" asp-area="Identity" asp-page="" title="Manage">Hello @UserManager.GetUserName(User)!</a>
			@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
			{

				<a href="/Admin/Admin" class="dropdown-item">Quản lí </a>
				
			}
			else {
			<a href="/Customer/Order" class="dropdown-item">Đơn mua </a>
			}
			<hr>
				
					<form id="logoutForm"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button id="logout" type="submit">Logout</button>
					</form>
				
			</div>
			
			@*<ul class="header__navbar-user-menu">
				<li class="header__navbar-user-item">
					
				</li>

				<li class="header__navbar-user-item">
					<a href="">Tài khoản của tôi</a>
				</li>
				@if (User.IsInRole(SD.Role_Admin))
				{
					<li class="header__navbar-user-item">
						<a href="/Admin/Admin">Quản lí đơn hàng</a>
				</li>
				}
				<li class="header__navbar-user-item">
					<a href="">Đơn mua </a>
				</li>
				
			</ul>*@
		</div>

	
	
   @* <li class="nav-item">
        <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>*@
}
else
{
	<div class="dropdown">


		<a class="dropdown-toggle" id="register" asp-area="Identity" asp-page="/Account/Login">
			<i class="fa fa-user-o"></i>
			<span>My Account</span>

		</a>
	

	</div>
   @* <li class="nav-item">
        <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*@
}
@*</ul>*@
