@model IEnumerable<Product>


<section class="featured spad">
    
    <div class="container">
        <div class="rowc">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Our Product</h2>
                </div>
                @await Component.InvokeAsync("NavbarALL")
                
                
            </div>
        </div>
        <div class="rowc featured__filter" id="MixItUp6B3978">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                            <img src="@item.ProductImage" alt="">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">@item.ProductName</a></h6>
                            <h5>@item.ProductPrice.ToString("c")</h5>
                    </div>
                </div>
            </div>
            }
           
        </div>
    </div>
    
</section>
